.get-out-left {
    animation: getOutLeft 1s forwards;
}

.get-out-right {
    animation: getOutRight 1s forwards;
}

.get-in-right {
    animation: getInRight 1s forwards;
}

.get-in-left {
    animation: getInLeft 1s forwards;
}

@-webkit-keyframes getOutLeft {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes getOutRight {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}

@-webkit-keyframes getInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

@-webkit-keyframes getInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

.slick {
    transition: transform 0.5s ease;
}

.slick--left {
    transform: translateX(calc(-100% - 40px));
}

.slick--right {
    transform: translateX(calc(100% + 40px));
}

.slick--default {
    transform: translateX(0);
}

.left-slick {
    animation: 0.5s left-slick ease;
}

@keyframes left-slick {
    0% {
        transform: translateX(calc(-600% - 240px));
    }
    100% {
        transform: translateX(calc(-500% - 200px));
    }
}