* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

/* scrollbar */
body::-webkit-scrollbar {
    width: 7px;
}
body::-webkit-scrollbar-track {
    background: #ddd;
}
body::-webkit-scrollbar-thumb {
    background: #3f3f3f;
    border-radius: 20px;
}